<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index3.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index3" class="active">Home</a>
                </li>

                <a href="index4">Buy Course</a>
                </li>
                <li>
                    <a href="login">Log Out</a>
                </li>

            </ul>
        </nav>
    </header>
    <br><br>
    <br><br><br>

    <div id="welcomeMessage"></div>




    <!-- Log Out -->
    <a href="index4" class="logout">Buy Services Now</a>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




    <script src="/js/userName.js"></script>



</body>

</html>