<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index4.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/index3">Home</a>
                </li>

                <li>
                    <a href="/index4" class="active">Buy Course</a>
                </li>
                <li>
                    <a href="/login">Log Out</a>
                </li>

            </ul>
        </nav>
    </header>

    <br><br><br><br><br><br>
    <div id="message"></div>


    <h1 id="rzph" style="color: blue;">Tap the button below to purchase our course through Razorpay</h1>

    <button id="rzp-button1">Buy Our Course</button>
    <!-- <div id="message2"></div> -->


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/purchase.js"></script>

</body>

</html>