<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div>

        <div class="logo">

        </div>

        <h1 id="heading">You're back!<br> Let's Learns Our Techs.</h1>
    </div>
    <div class="container">
        <h1>Login to Expense Tracker</h1>
        <h2></h2>
        <form onsubmit="Login(event)">
            <label for="Email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="Password">Password</label>
            <input type="password" name "password" id="password" required>
            <div class="button-forgot">
                <button id="login">Login</button>
                <a href="/forgotPassword" id="forgot-password">Forgot Password?</a>
            </div>
            <p>If you are a new user, <a href="/sign-up" id="sign-up">Sign up Now</a></p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>